// _colors.scss

// Light Mode Colors 
$light-bg: #fef7ec;       // Beige luminoso e caldo (sfondo principale)
$light-text: #1e1e1e;     // Grigio scuro per alta leggibilità
$light-accent: #ffd4a6;   // Pesca tenue per dettagli
$light-border: #d2a478;   // Marrone chiaro per eleganza
$light-form-bg: hsl(0, 0%, 100%);  // Bianco per contrasto
$light-navbar-bg: #ffad5c; // Arancione dorato per un look accogliente

// Dark Mode Colors 
$dark-bg: #1c1c1c;        // Grigio antracite scuro (sfondo principale)
$dark-text: #e0e0e0;      // Grigio chiaro per leggibilità
$dark-accent: #00bcd4;    // Turchese brillante e moderno
$dark-border: #357a85;    // Turchese profondo per dettagli sottili
$dark-form-bg: #292929;   // Grigio scuro per maggiore contrasto
$dark-navbar-bg: #265e68; // Turchese scuro e sofisticato