@use "./colors";

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;

  // Usa variabili globali per i colori
  background-color: $light-navbar-bg; // Colore per light mode
  color: $light-text;

  // Modalità scura
  .dark-mode & {
    background-color: $dark-navbar-bg;
    color: $dark-text;
  }
}
