@use "./colors";  // Assicurati di avere le variabili in questo file

/* Stile generale della navbar */
.navbar {
  padding: 1rem;
  background-color: $light-navbar-bg; /* Utilizzo della variabile SCSS */
}

.dark-mode .navbar {
  background-color: $dark-navbar-bg; /* Utilizzo della variabile SCSS per dark mode */
}

/* Stile dei link nella navbar */
.navbar-nav .nav-link {
  color: $light-text; /* Utilizzo della variabile SCSS */
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

.dark-mode .navbar-nav .nav-link {
  color: $dark-text; /* Utilizzo della variabile SCSS */
}

.navbar-nav .nav-link:hover {
  color: $light-accent; /* Utilizzo della variabile SCSS */
}

.dark-mode .navbar-nav .nav-link:hover {
  color: $dark-accent; /* Utilizzo della variabile SCSS */
}

/* Rimuove la sottolineatura dei link */
.navbar-nav .nav-link {
  text-decoration: none !important;
}

/* Bottone per la modalità scura */
.btn-dark-mode {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: $light-text; /* Utilizzo della variabile SCSS */
  cursor: pointer;
}

.dark-mode .btn-dark-mode {
  color: $dark-text; /* Utilizzo della variabile SCSS */
}

.btn-dark-mode:hover {
  color: $light-accent; /* Utilizzo della variabile SCSS */
}

.dark-mode .btn-dark-mode:hover {
  color: $dark-accent; /* Utilizzo della variabile SCSS */
}

/* Aggiunge spaziatura tra gli elementi */
.navbar-nav .nav-item {
  margin-right: 10px;
}
