@use "sass:color";
@use "./colors" as colors;

.profile-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: colors.$light-bg;
}

.dark-mode .profile-page-container {
  background-color: colors.$dark-bg;
}

.profile-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-form {
  background: transparent !important;
  box-shadow: none !important;
}

.navbar {
  background-color: colors.$light-navbar-bg;
}

.dark-mode .navbar {
  background-color: color.adjust(colors.$dark-navbar-bg, $lightness: -10%);
}
