@use "./colors" as colors;

/* Reset e Body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: colors.$light-bg;  
}

#root {
  height: 100%;
  background-color: inherit;
}

.light-mode {
  background-color: colors.$light-bg;
  color: colors.$light-text;
}

.dark-mode {
  background-color: colors.$dark-bg;
  color: colors.$dark-text;
}

/* 📝 Task Items */
.task-item.completed {
  position: relative;
  opacity: 0.8;
}

.task-item.completed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: colors.$light-accent;
}

.dark-mode .task-item.completed {
  background-color: rgba(40, 167, 69, 0.1); 
}

.light-mode .task-item.completed {
  background-color: rgba(40, 167, 69, 0.05); 
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: colors.$light-bg;  /* Colore di sfondo per la modalità chiara */
}

.dark-mode .app-container {
  background-color: colors.$dark-bg;  /* Colore di sfondo per la modalità scura */
}

.main-content {
  flex: 1;
  padding: 1rem;
  margin-top: 4rem;
}

.task-management-section {
  margin-bottom: 2rem;
}

.section-title {
  color: colors.$light-text;  /* Colore del testo per la modalità chiara */
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid colors.$light-accent;  /* Colore della linea inferiore */
}

.dark-mode .section-title {
  color: colors.$dark-text;  /* Colore del testo per la modalità scura */
  border-bottom-color: colors.$dark-accent;  /* Colore della linea inferiore per la modalità scura */
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
  .task-management-section {
    flex-direction: column;
  }
}
